@media screen and (min-width: 993px) {
    nav {
        padding: 0px 10px 0px 10px;
    }
}

.brand-logo {
  font-family: 'Gruppo', cursive;
}

h1.fadeIn {
  display: none;
}

h1.fadeIn2, h1.fadeIn3 {
  visibility: hidden;
}

#topSpace {
  margin: 10% 0px 10% 0px;
}

.main-content {
  width: 100%;
}

.jumbo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.jumbo-img img {
  vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}

.jumbo-img.i1 {
  background-image: url("images/mountains.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.jumbo-img.i2 {
  background-image: url("images/beach.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.imgText {
  color: white;
  align-self: center;
  position: absolute;
  width: 100%;
}

#rightAlign {
  text-align: right;
}

h1 span {
  color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
