@media screen and (min-width: 993px) {
    nav {
        padding: 0px 10px 0px 10px;
    }
}

.brand-logo {
  font-family: 'Gruppo', cursive;
}

h1.fadeIn, h1.fadeIn2, h1.fadeIn3 {
  display: none;
}

#topSpace {
  margin-top: 10%;
}

.main-content {
  width: 100%;
}

.jumbo-img {
  height: 1000px;
  max-width: 100%;
}

.jumbo-img.i1 {
  background-image: url("images/mountains.jpg");
  background-size: 100%;
}
